//fonts
$font-primary: "Open Sans", Helvetica, sans-serif;
$font-headline: "Merriweather", Georgia, serif;

//colors
$color1: #181616; //primary site font color
$color1-inv: #fff; //inverse of primary
$color2: #008299; //secondary site font color
$link: $color2;

$bg-nav: #fff;

//logos
$logo-lg: 3.2rem; //3.8rem
$logo-med: 3rem;
$logo-sm: 2.8rem;

//footer 
$footer-height: 6rem;