* {
  margin: 0;
  padding: 0;
  border: 0;
}

footer, .push {
  height: 6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.3rem;
}
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  body {
    -webkit-text-size-adjust: 80%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

li {
  list-style-type: none;
}

.skip-nav {
  position: absolute;
  display: block;
  top: -100vh;
  margin: 4px;
  padding: 4px;
  text-align: center;
  font-size: 1.5rem;
  color: #008299;
}
.skip-nav:focus {
  position: static;
  outline: 3px solid #008299;
}

.noDisplay {
  display: none;
}

/*fonts*/
h1, h2,
.title, .subtitle {
  display: inline-block;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
}

h1, .title {
  font-size: 2.2rem;
  line-height: 2;
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  h1, .title {
    font-size: 2.8rem;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 960px) {
  h1, .title {
    font-size: 3.5rem;
    line-height: 1.3;
  }
}

h1 {
  margin-left: 30px;
  margin-top: 20px;
}

h2, .subtitle {
  color: #008299;
  font-size: 1.9rem;
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  h2, .subtitle {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 960px) {
  h2, .subtitle {
    font-size: 2.9rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

/*icons*/
.logo {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  vertical-align: middle;
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 960px) {
  .logo {
    width: 3.2rem;
    height: 3.2rem;
  }
}

a.logo {
  margin-left: 0.4666666667rem;
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  a.logo {
    margin-left: 0.6rem;
  }
}
@media only screen and (min-width: 960px) {
  a.logo {
    margin-left: 1.0666666667rem;
  }
}

/*nav*/
nav {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 3.2rem;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}
@media only screen and (max-width: 399px) {
  nav {
    padding: 0.8rem;
  }
}

.logos {
  float: right;
  padding-top: 0.6rem;
  height: 3.8rem;
}

/*body*/
#main-content:focus {
  outline: none;
}

section {
  position: relative;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 20px;
}

section:not(:first-of-type) {
  border-top: 1px solid gray;
}

button {
  position: absolute;
  top: 3px;
  right: 0;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 -1px #666 inset;
  background-color: white;
  text-transform: uppercase;
}

button:active {
  box-shadow: 0 1px #666 inset;
}

button:focus {
  color: #008299;
}

form {
  margin: 25px 20px;
}

.primary {
  margin-bottom: 15px;
}

.label {
  font-weight: 600;
}

input[type=color] {
  border: 0;
  width: 25px;
  height: 20px;
}

input[type=text] {
  border: 0;
  width: 150px;
  height: 20px;
  box-shadow: 0px -2px #fff inset, 0 -3px #000 inset;
}

.input-alert {
  display: inline-block;
  padding: 0 4px;
  color: white;
  background-color: crimson;
}

.results {
  min-height: 250px;
  height: 32vw;
}
@media only screen and (min-width: 1024px) {
  .results {
    height: 16vw;
  }
}

#results-display {
  width: 98%;
  margin-left: 1%;
}
@media only screen and (min-width: 1024px) {
  #results-display {
    margin-top: 15px;
  }
}

.result-start {
  display: inline-block;
}

.result-end {
  display: inline-block;
  float: right;
}

.result-gradient {
  position: relative;
  height: 2rem;
  border: 1px solid black;
  background-image: linear-gradient(to right, #000000 0%, #040404 13%, #2f2f2f 50%, #808080 76%, #ffffff 100%);
  box-shadow: 0 21px 0 -1px var(--contrast-bg), 0 40px 0 -1px var(--contrast-bg), 0 21px 0 0px black, 0 40px 0 0px black;
}

.result {
  position: absolute;
  top: 50%;
  height: 5px;
  min-width: 185px;
  transform-origin: 0 0;
  transform: rotate(90deg) translateY(-50%);
}

.result-swatch {
  display: inline-block;
  width: 50px;
  height: 5px;
  vertical-align: top;
}

.result-label {
  display: inline-block;
  margin-left: 5px;
  transform: translateY(-0.3em) rotate(180deg);
}

.log {
  min-height: 200px;
}

.list * {
  display: inline-block;
}

.list li {
  margin: 10px;
  vertical-align: top;
}

.swatch {
  width: 1.5rem;
  height: 1.5rem;
}

.color-list {
  margin-left: 5px;
  vertical-align: top;
}

.color-more {
  display: block;
  margin-left: calc(0.9375rem + 10px);
}

#github path {
  fill: #181616;
}

a:hover #github path {
  fill: #008299;
}

#envelope circle {
  fill: #181616;
}
#envelope path {
  stroke: #fff;
  stroke-width: 6;
  stroke-linejoin: round;
  fill: none;
}

a:hover #envelope circle {
  fill: #008299;
}

/*# sourceMappingURL=color.css.map */
